<html>
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Locação</title>
    </head>

    <body>
        <form action="I_AdicionarLocação.php" method="POST">
            <h1>Adicionar Locação</h1><br>
            
            ID: <input type="text" name="id"><br>
            Cliente: <input type="text" name="cliente"><br>
            Produto: <input type="text" name="plataforma"><br>
            Data Locação: <input type="date" name="dataLocação"><br>
            Data Devolução: <input type="date" name="dataDevolução"><br>
            R$: <input type="text" name="R$"><br>
            Funcionario: <input type="text" name="funcionario"><br>

            <input type="submit" value="Adicionar">
        </form>
    </body>
</html>