<html>
    <head>
        <meta charset="UTF-8">
        <title>Editar Locação</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"> <div id="texto1">Editar</div> <div id="texto2">Voltar</div></div>
            <div id="fundoIserir">
                <form action="../../../Controller/CRUDLocacao/I_EditarLocaçãoDados.php" method="POST">
                    <h1 class="margintop100">Editar Locação</h1> <br>
                    <input type="text" name="idLocacao" placeholder="ID da Locação">
                    <div id="botao">
                        <input type="submit" value="Editar" class="botaoEnviar vermelhoClaro">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>