<html>
    <head>
        <meta charset="UTF-8">
        <title>Locação</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"> <div id="texto1">Locação</div> <div id="texto2">Voltar</div> </div>
            <a href="I_AdicionarLocação.html" ><button class="button">Adicionar Locação</button></a>
            <a href="I_ExcluirLocação.html" ><button class="button">Excluir Locação</button></a>
            <a href="I_EditarLocação.html"><button class="button">Editar Locação</button></a>
            <a href="../../../Controller/CRUDLocacao/consultarLocacao.php"><button class="button">Listar locações</button></a> <br>
        </div>
    </body>
</html>