<html>
    <head>
        <meta charset="UTF-8">
        <title>Excluir Funcionário</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Gerente.css">
    </head>

    <body>
        <div id="interface">
            <form action="../../../Controller/CRUDFuncionario/removerFuncionario.php" method="POST">
                <div id="retangulo" class="amarelo"> <div id="texto1">Excluir</div> <div id="texto2"><a href="../I_HomeGerente.html">Voltar</a></div></div>
                <div id="fundoIserir">
                    <h1 class="textoEditar">Excluir Funcionário</h1>

                    <input type="text" name="cpf" placeholder="CPF" required> <br>
                    
                    <div id="botao">
                        <input type="submit" value="Excluir" class="botaoEnviar amareloClaro">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>