<html>
    <head>
        <meta charset="UTF-8">
        <title>Funcionários</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Gerente.css">
    </head>

    <body>
        <div id="interface">
            <div id='retangulo' class="amarelo"> <div id="texto1">Funcionários</div> <div id="texto2"><a href="../I_HomeGerente.html">Voltar</a></div></div>
            <a href="I_InserirFunc.html" ><button class="button">Inserir Funcionário</button></a>
            <a href="I_ExcluirFunc.html" ><button class="button">Excluir Funcionário</button></a>
            <a href="I_EditarFunc.html"><button class="button">Editar Funcionário</button></a>
            <a href='../../../Controller/CRUDFuncionario/consultarFuncionarios.php'><button class="button">Mostrar Funcionários</button> <br></a> 
        </div>

    </body>
</html>