<html>
    <head>
        <meta charset="UTF-8">
        <title>Funcionarios</title>
    </head>

    <body>

        <a href="I_InserirFunc.html" ><button>Inserir Funcionario</button></a> <br>

        <a href="I_ExcluirFunc.html" ><button>Excluir Funcionario</button> <br></a> <br>

        <a href="I_EditarFunc.html"><button>Editar Funcionario</button> <br></a> <br>

        <a href='../../../Controller/CRUDFuncionario/consultarFuncionarios.php'><button>Mostrar Funcionários</button> <br></a> <br>


    </body>
</html>