<html>
    <head>
        <meta charset="UTF-8">
        <title>Inserir Funcionario</title>
    </head>

    <body>
        <form action="" method="POST">
            <h1>Inserir Funcionario</h1>
            
            Nome: <input type="text" name="nome">
            CPF: <input type="text" name="cpf">
            Endereço: <input type="text" name="endereco">
            Email: <input type="email" name="email">
            Telefone: <input type="text" name="telefone">
            Senha: <input type="password" name="senha">

            <input type="submit" value="Inserir">

        </form>
    </body>
</html>