<html>
    <head>
        <title>Cliente</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Gerente.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="amarelo"> <div id="texto1">Cliente</div> <div id="texto2"><a href="../I_HomeGerente.html">Voltar</a></div></div>
            <a href="I_InserirCliente.html" ><button class="button">Inserir Cliente</button></a>
            <a href="I_ExcluirCliente.html" ><button class="button">Excluir Cliente</button></a>
            <a href="I_EditarCliente.html"><button class="button">Editar Cliente</button></a>
            <a href='../../../Controller/consultarClientes.php'><button class="button">Mostrar Clientes</button></a>
        </div>

    </body>
</html>
