<html>
    <head>
        <meta charset="UTF-8">
        <title>Excluir Cliente</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Gerente.css">
    </head>

    <body>
        <div id="interface"></div>
            <form action="../../../Controller/removerCliente.php" method="POST">
                <div id="retangulo" class="amarelo"></div>
                <div id="fundoIserir">
                <h1 class="textoEditar">Excluir Cliente</h1>

                <input type="text" name="cpf" required placeholder="CPF"> <br>
            
                <div id="botao">
                    <input type="submit" value="Excluir" class="botaoEnviar amareloClaro">
                </div>
        </form>
    </body>
</html>