<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"></div>
            <a href="Jogos/I_Jogos.html" ><button class="button" >Jogos</button></a>
            <a href="VideoGame/I_VideoGame.html"><button class="button">VideoGame</button></a>
            <a href="Locação/I_Locação.html"><button class="button">Locação</button></a>
        </div>
    </body>
</html>