<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"> <div id="texto1">Olá, Funcionário</div> <div id="texto2"><a href="../../index.html">Sair</a></div></div>
            <a href="Jogos/I_Jogos.html"><button class="button" >Gerenciar Itens</button></a>
            <!-- <a href="VideoGame/I_VideoGame.html"><button class="button">Gerenciar Video Game</button></a> -->
            <a href="Locação/I_Locação.html"><button class="button">Gerenciar Locação</button></a>
        </div>
    </body>
</html>