<html>
    <html>
        <head>
            <link rel="stylesheet" href="../css/Funcionario.css">
            <link rel="stylesheet" href="../css/style.css">
            <title>Sucesso</title>
            <meta charset="UTF-8">
    
        </head>
    
        <body>
            <div id="interface">
    
                <div id="retangulo" class="vermelho"></div>
    
                <h2 class="textoMeio">Operação concluida!</h2>
    
                <a href="I_HomeFunc.html">
    
                    
                    <div id="botao">
                        <button class="botaoEnviar vermelhoClaro">Voltar</button>
                    </div>
                </a>
    
            </div>
        </body>
    </html>