<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Gerente.css">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="amarelo"> <div id="texto1">Olá, Gerente</div> <div id="texto2"><a href="../../index.html">Sair</a></div></div>
            <a href="Cliente\I_Clientes.html" ><button class="button">Gerenciar Clientes</button></a>
            <a href="Funcionario\I_Funcionarios.html"><button class="button"> Gerenciar Funcionarios </button></a>
        </div>
    </body>
</html>