<html>
    <html>
        <head>
            <link rel="stylesheet" href="../css/Gerente.css">
            <link rel="stylesheet" href="../css/style.css">
            <title>Erro</title>
            <meta charset="UTF-8">
    
        </head>
    
        <body>
            <div id="interface">
    
                <div id="retangulo" class="amarelo" ></div>
    
                <h2 class="textoMeio">Erro na operação!</h2>
    
                <a href="I_HomeGerente.html">
    
                    
                    <div id="botao">
                        <button class="botaoEnviar amareloClaro">Voltar</button>
                    </div>
                </a>
    
            </div>
        </body>
    </html>
    