<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">

    </head>

    <body>
        <form action="" method="POST">

            CPF: <input type="text" name="cpf" required> <br>
            Senha: <input type="password" name="senha" required> <br>

            Gerente: <input type="radio" name="funcao" value="gerente"> <br>
            Funcionario: <input type="radio" name="funcao" value="funcionario"> <br>
            Cliente: <input type="radio" name="funcao" value="cliente"> <br>

            <input type="submit" name="login" value="Login"> <br>

        </form>

    </body>

</html>