<html>
    <head>
        <meta charset="UTF-8">
        <title>Alterar Dados</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Cliente.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="azul"> <div id="texto1">Alterar dados</div>  <a href="I_HomeCliente.html"><div id="texto2">Voltar</div></a></div>
            <div id="fundoIserir">
                <h1 class="margintop100">Alterar Dados</h1>
                <form action="../../Controller/Cliente/alterarDados.php" method="POST">
                    <input type="text" name="endereco" placeholder="Endereço">
                    <input type="password" name="senha" placeholder="Senha" >
                    <div id="botao">
                        <input type="submit" value="Editar" class="botaoEnviar azulClaro">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>