<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Cliente.css">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="azul"> <div id="texto1">Olá, Cliente</div> <div id="texto2"><a href="../../index.html">Sair</a></div></div>
            <a href="../../Controller/Cliente/verLocacoes.php" ><button class="button">Ver Locação</button></a>
            <a href="../../Controller/Cliente/consultarInformacoes.php" ><button class="button">Ver Informações</button></a> 
            <a href="I_AlterarDados.html" ><button class="button">Alterar Dados</button></a> 
        </div>
    </body>
</html>