<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Cliente.css">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="azul"></div>
            <a href="I_LocaçãoCliente.html" ><button class="button">Ver Locação</button></a>
            <a href="I_VerInformações.html" ><button class="button">Ver Informações</button></a> 
            <a href="I_AlterarDados.html" ><button class="button">Alterar Dados</button></a> 
        </div>
    </body>
</html>