<html>
    <head>
        <meta charset="UTF-8">
        <title>Ver Informações</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Cliente.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="azul"> <div id="texto1">Ver Informações</div> <a href="I_HomeCliente.html"><div id="texto2">Voltar</div></a></div>
            <div id="fundoIserir">
                <form action="" method="POST">
                    <h1 class="margintop50">Ver Informações</h1>

                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="cpf" readonly placeholder="CPF">
                    <input type="text" name="endereco" placeholder="Endereço">
                    <input type="email" name="email" placeholder="Email">
                    <input type="text" name="telefone" placeholder="Telefone">
                    <input type="text" name="senha" placeholder="Senha">
                    
                    <div id="botao">
                        <input type="submit" value="Editar" class="botaoEnviar azulClaro">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>