<html>
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Video Game</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"></div>
            <form action="" method="POST">
                <div id="fundoIserir">
                    <h1>Adicionar Video Game</h1>
                    
                    <input type="text" name="id" placeholder="ID">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="quantidade" placeholder="Quantidade">
                    
                    <div id="botao">
                        <input type="submit" value="Adicionar" class="botaoEnviar vermelhoClaro">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>