<html>
    <head>
        <meta charset="UTF-8">
        <title>Video Games</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface" class="vermelho">
            <div id="retangulo" class="vermelho"> <div id="texto1">Video Game</div> <div id="texto2">Voltar</div></div>
            <a href="I_AdicionarVideoGame.html" ><button class="button">Adicionar Video Game</button></a>
            <a href="I_ExcluirVideoGame.html" ><button class="button">Excluir Video Game</button></a>
            <a href="I_EditarVideoGame.html"><button class="button">Editar Video Game</button></a>
        </div>
    </body>
</html>