.button {
    background-color: #cc0000b4; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 10px 10px 10px;
    cursor: pointer; 
}
#fundoIserir {
    position: absolute;
    width: 360px;
    height: 500px;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-65%);
    background: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-family: arial;
}

.margintop150 {
    margin-top: 150px;
}
.margintop100 {
    margin-top: 100px;
}

.textoMeio {
    text-align: center;
    top: auto;
    margin-top: 40vh;
    margin-bottom: 100px;
    font-family: Verdana;
}

input[type=text], input[type=password], input[type=email], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.corData {
    color: rgba(0, 0, 0, 0.62);
}

#botao { 
    text-align: center
}

.botaoEnviar {
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}