.button {
    background-color: #fcde34b2; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 10px 10px 10px;
    cursor: pointer;
    
  }

#fundoIserir {
    position: absolute;
    width: 360px;
    height: 500px;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-65%);

    background: white;
}
input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: arial;
}

.funcionarioText {
    margin-top: -1px;

}

.textoEditar {
    margin-top: 100px;
    color: black;
}

.textoMeio {
    text-align: center;
    top: auto;
    margin-top: 40vh;
    margin-bottom: 100px;
    font-family: Verdana;
}

#botao { 
    text-align: center
}

.botaoEnviar {
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

