#interface {
    position: relative;
    width: 1300px;
    height: 600px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
    background-color: white;
    padding: 10px;
}

#retangulo {
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
     
}

#texto1 {

    position: absolute;
    height: 45px;
    left: 5%;
    transform: translate(-5%,0);
    width: 200px;
    text-align: left;
    padding-top: 13px;
    font-family: georgia;
}

#texto2{
    position: absolute;
    height: 45px;
    left: 95%;
    width: 200px;
    transform: translate(-95%,0);
    text-align: right;
    padding-top: 13px;
    font-family: georgia;
}

a {
    text-decoration: none;
    color: black;
}

.voltar {
        padding-top: 13px;
        padding-left: 60px;
        text-align: left;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 580px;
}


.margintop150 {
    margin-top: 150px;
}

.margintop100 {
    margin-top: 100px;
}

.roxo {
    background: #9B51E0;
}

.roxoClaro {
    background: #9b51e0b9;
}

.amarelo {
    background: #ffd82cfd;
}

.amareloClaro {
    background: #fcde34b2;
}

.azul {
    background: #4e9aff;
}

.azulClaro {
    background: #4e9bffb9;
}

.azulEscuro {
    background: #4c6faf;
}

.branco {
    color: white;
}

.vermelho {
    background: #cc0000;
}

.vermelhoClaro{
    background: #cc0000b4
}

