<html>
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Jogo</title>
    </head>

    <body>
        <form action="AdicionarJogos.php" method="POST">
            <h1>Inserir Cliente</h1>
            
            ID: <input type="text" name="id">
            Nome: <input type="text" name="nome">
            Plataforma: <input type="text" name="plataforma">
            Copias: <input type="text" name="copias">

            <input type="submit" value="Editar">

        </form>
    </body>
</html>