<html>
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Itens</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface">
            <div id="retangulo" class="vermelho"> <div id="texto1">Adicionar</div> <a href="../I_HomeFunc.html" > <div id="texto2">Voltar</div></a></div>
            <form action="../../../Controller/CRUDItens/inserirItem.php" method="POST">
                <div id="fundoIserir">
                    <h1>Adicionar Itens</h1>
                    
                   <!--<input type="text" name="id" placeholder="ID">-->
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="periodoLoc" placeholder="Periodo de locação">
                    <input type="text" name="valor" placeholder="Valor">
                    <input type="text" name="copias" placeholder="Cópias">
                    
                    <div id="botao">
                        <input type="submit" value="Adicionar" class="botaoEnviar vermelhoClaro">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>