<html>
    <head>
        <meta charset="UTF-8">
        <title>Excluir Item</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface" class="vermelho">
            <div id="retangulo" class="vermelho"> <div id="texto1">Excluir</div> <a href="../I_HomeFunc.html" > <div id="texto2">Voltar</div></a></div>
            <div id="fundoIserir">
                <form action="../../../Controller/CRUDItens/excluirItem.php" method="POST">
                    <h1 class="margintop150">Excluir Item</h1>

                    <input type="text" name="id" required placeholder="ID">
                    
                    <div id="botao">
                        <input type="submit" value="Excluir" class="botaoEnviar vermelhoClaro">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>