<html>
    <head>
        <meta charset="UTF-8">
        <title>Itens</title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/Funcionario.css">
    </head>

    <body>
        <div id="interface" class="vermelho">
            <div id="retangulo" class="vermelho"> <div id="texto1">Item</div> <a href="../I_HomeFunc.html" > <div id="texto2">Voltar</div></a> </div>
            <a href="I_AdicionarJogos.html" ><button class="button">Adicionar Item</button></a>
            <a href="I_ExcluirJogos.html" ><button class="button">Excluir Item</button></a>
            <a href="I_EditarJogos.html"><button class="button">Editar Item</button></a>
            <a href='../../../Controller/CRUDItens/consultarItens.php'><button class="button">Mostrar Itens</button></a>
        </div>
    </body>
</html>